In [1]:
import pandas as pd

In [51]:
df = pd.read_csv("clean_data/2017_avg_salary_by_language.csv")

df["survey_year"] = 2017
df.drop(['Unnamed: 0.1','Unnamed: 0.1.1'], axis=1, inplace=True)
df.drop(['Unnamed: 0.1.1.1'], axis=1, inplace=True)
df

   Unnamed: 0    language     avg_salary  survey_year
0           0  JavaScript   97974.171459         2017
1           1        HTML   95030.698081         2017
2           2         CSS   95604.488628         2017
3           3         SQL   97567.427165         2017
4           4        Java   90282.985846         2017
5           5  Bash/Shell  107340.899941         2017
6           6      Python  101955.642783         2017
7           7          C#   99185.494393         2017
8           8         PHP   81961.011567         2017
9           9         C++   90378.271531         2017

In [52]:
df.to_csv("clean_data/2017_avg_salary_by_language.csv")