In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress


csvdata2015= "2015 Stack Overflow Developer Survey Responses.csv"

data2015 = pd.read_csv(csvdata2015)

C:\Users\Dan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,108,121,196,197,198) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
data2015

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Select all that apply,Unnamed: 9,...,Unnamed: 212,Unnamed: 213,Select all that apply.7,Unnamed: 215,Unnamed: 216,Unnamed: 217,Unnamed: 218,Unnamed: 219,Unnamed: 220,Unnamed: 221
0,Country,Age,Gender,Tabs or Spaces,Years IT / Programming Experience,Occupation,Desktop Operating System,Desktop Operating System: write-in,Current Lang & Tech: Android,Current Lang & Tech: Arduino,...,Why use Stack Overflow: I don't use Stack Over...,How often are Stack Overflow's answers helpful,Why answer: Help a programmer in need,Why answer: Help future programmers,Why answer: Demonstrate expertise,Why answer: Self promotion,Why answer: Sense of responsibility to developers,Why answer: No idea,Why answer: I don't answer and I don't want to,Why answer: I don't answer but I want to
1,Croatia,25-29,Male,Tabs,2 - 5 years,Back-end web developer,Ubuntu,NaN,NaN,NaN,...,NaN,Usually,NaN,NaN,It feels good to demonstrate my expertise.,Demonstrating my expertise will benefit me,I feel a sense of responsibility to the develo...,NaN,NaN,NaN
2,France,20-24,Male,Spaces,1 - 2 years,Back-end web developer,Windows 7,NaN,NaN,NaN,...,NaN,Usually,NaN,My answer will help lots of people who have th...,It feels good to demonstrate my expertise.,NaN,NaN,NaN,NaN,NaN
3,India,20-24,Male,Tabs,1 - 2 years,Back-end web developer,Windows 7,NaN,NaN,NaN,...,NaN,Rarely,NaN,NaN,NaN,Demonstrating my expertise will benefit me,NaN,NaN,NaN,NaN
4,Latvia,25-29,Male,It depends,6 - 10 years,Back-end web developer,Ubuntu,NaN,NaN,NaN,...,NaN,Usually,It feels good to help a programmer in need,My answer will help lots of people who have th...,It feels good to demonstrate my expertise.,Demonstrating my expertise will benefit me,I feel a sense of responsibility to the develo...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26082,Vietnam,20-24,Male,Tabs,1 - 2 years,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26083,Vietnam,25-29,Male,Tabs,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26084,Vietnam,25-29,Male,It depends,2 - 5 years,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26085,Zimbabwe,NaN,NaN,Huh?,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26086,Zimbabwe,Prefer not to disclose,Prefer not to disclose,Huh?,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data2015.columns = data2015.iloc[0]
data2015 = data2015.drop(0).reset_index(drop=True)
data2015

,Country,Age,Gender,Tabs or Spaces,Years IT / Programming Experience,Occupation,Desktop Operating System,Desktop Operating System: write-in,Current Lang & Tech: Android,Current Lang & Tech: Arduino,...,Why use Stack Overflow: I don't use Stack Overflow,How often are Stack Overflow's answers helpful,Why answer: Help a programmer in need,Why answer: Help future programmers,Why answer: Demonstrate expertise,Why answer: Self promotion,Why answer: Sense of responsibility to developers,Why answer: No idea,Why answer: I don't answer and I don't want to,Why answer: I don't answer but I want to
0,Croatia,25-29,Male,Tabs,2 - 5 years,Back-end web developer,Ubuntu,NaN,NaN,NaN,...,NaN,Usually,NaN,NaN,It feels good to demonstrate my expertise.,Demonstrating my expertise will benefit me,I feel a sense of responsibility to the develo...,NaN,NaN,NaN
1,France,20-24,Male,Spaces,1 - 2 years,Back-end web developer,Windows 7,NaN,NaN,NaN,...,NaN,Usually,NaN,My answer will help lots of people who have th...,It feels good to demonstrate my expertise.,NaN,NaN,NaN,NaN,NaN
2,India,20-24,Male,Tabs,1 - 2 years,Back-end web developer,Windows 7,NaN,NaN,NaN,...,NaN,Rarely,NaN,NaN,NaN,Demonstrating my expertise will benefit me,NaN,NaN,NaN,NaN
3,Latvia,25-29,Male,It depends,6 - 10 years,Back-end web developer,Ubuntu,NaN,NaN,NaN,...,NaN,Usually,It feels good to help a programmer in need,My answer will help lots of people who have th...,It feels good to demonstrate my expertise.,Demonstrating my expertise will benefit me,I feel a sense of responsibility to the develo...,NaN,NaN,NaN
4,Norway,30-34,Male,Tabs,2 - 5 years,Back-end web developer,Windows 8,NaN,NaN,NaN,...,NaN,Usually,It feels good to help a programmer in need,NaN,NaN,Demonstrating my expertise will benefit me,NaN,NaN,NaN,"I don't answer much (or at all), but I want to..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26081,Vietnam,20-24,Male,Tabs,1 - 2 years,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26082,Vietnam,25-29,Male,Tabs,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26083,Vietnam,25-29,Male,It depends,2 - 5 years,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26084,Zimbabwe,NaN,NaN,Huh?,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26085,Zimbabwe,Prefer not to disclose,Prefer not to disclose,Huh?,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data2015 = data2015[['Country',
                     'Age',
                     'Compensation',
                     'Current Lang & Tech: AngularJS',
                     'Current Lang & Tech: C',
                     'Current Lang & Tech: C++',
                     'Current Lang & Tech: C++11',
                     'Current Lang & Tech: C#',
                     'Current Lang & Tech: Cassandra',
                     'Current Lang & Tech: CoffeeScript',
                     'Current Lang & Tech: Clojure',
                     'Current Lang & Tech: Dart',
                     'Current Lang & Tech: F#',
                     'Current Lang & Tech: Go',
                     'Current Lang & Tech: Haskell',
                     'Current Lang & Tech: Java',
                     'Current Lang & Tech: JavaScript',
                     'Current Lang & Tech: Matlab',
                     'Current Lang & Tech: Node.js',
                     'Current Lang & Tech: Objective-C',
                     'Current Lang & Tech: Perl',
                     'Current Lang & Tech: PHP',
                     'Current Lang & Tech: Python',
                     'Current Lang & Tech: R',
                     'Current Lang & Tech: Ruby',
                     'Current Lang & Tech: Rust',
                     'Current Lang & Tech: Scala',
                     'Current Lang & Tech: SQL',
                     'Current Lang & Tech: Swift',
                     'Current Lang & Tech: Visual Basic',
                     'Current Lang & Tech: Write-In']]
data2015

,Country,Age,Compensation,Current Lang & Tech: AngularJS,Current Lang & Tech: C,Current Lang & Tech: C++,Current Lang & Tech: C++11,Current Lang & Tech: C#,Current Lang & Tech: Cassandra,Current Lang & Tech: CoffeeScript,...,Current Lang & Tech: PHP,Current Lang & Tech: Python,Current Lang & Tech: R,Current Lang & Tech: Ruby,Current Lang & Tech: Rust,Current Lang & Tech: Scala,Current Lang & Tech: SQL,Current Lang & Tech: Swift,Current Lang & Tech: Visual Basic,Current Lang & Tech: Write-In
0,Croatia,25-29,"$20,000 - $40,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Scala,NaN,NaN,NaN,NaN
1,France,20-24,"$20,000 - $40,000",NaN,NaN,NaN,NaN,C#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,India,20-24,"$80,000 - $100,000",NaN,NaN,NaN,NaN,C#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Latvia,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PHP,Python,NaN,NaN,NaN,NaN,SQL,NaN,NaN,lua
4,Norway,30-34,"$60,000 - $80,000",NaN,NaN,NaN,NaN,C#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26081,Vietnam,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26082,Vietnam,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26083,Vietnam,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26084,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26085,Zimbabwe,Prefer not to disclose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
list(data2015.columns)

['Country',
 'Age',
 'Compensation',
 'Current Lang & Tech: AngularJS',
 'Current Lang & Tech: C',
 'Current Lang & Tech: C++',
 'Current Lang & Tech: C++11',
 'Current Lang & Tech: C#',
 'Current Lang & Tech: Cassandra',
 'Current Lang & Tech: CoffeeScript',
 'Current Lang & Tech: Clojure',
 'Current Lang & Tech: Dart',
 'Current Lang & Tech: F#',
 'Current Lang & Tech: Go',
 'Current Lang & Tech: Haskell',
 'Current Lang & Tech: Java',
 'Current Lang & Tech: JavaScript',
 'Current Lang & Tech: Matlab',
 'Current Lang & Tech: Node.js',
 'Current Lang & Tech: Objective-C',
 'Current Lang & Tech: Perl',
 'Current Lang & Tech: PHP',
 'Current Lang & Tech: Python',
 'Current Lang & Tech: R',
 'Current Lang & Tech: Ruby',
 'Current Lang & Tech: Rust',
 'Current Lang & Tech: Scala',
 'Current Lang & Tech: SQL',
 'Current Lang & Tech: Swift',
 'Current Lang & Tech: Visual Basic',
 'Current Lang & Tech: Write-In']

In [6]:
data2015= data2015.rename(columns={'Current Lang & Tech: AngularJS':'AngularJS',
 'Current Lang & Tech: C':'C',
 'Current Lang & Tech: C++':'C++',
 'Current Lang & Tech: C++11':'C++11',
 'Current Lang & Tech: C#':'C#',
 'Current Lang & Tech: Cassandra':'Cassandra',
 'Current Lang & Tech: CoffeeScript':'CoffeeScript',
 'Current Lang & Tech: Clojure':'Clojure',
 'Current Lang & Tech: Dart':'Dart',
 'Current Lang & Tech: F#':'F#',
 'Current Lang & Tech: Go':'Go',
 'Current Lang & Tech: Haskell':'Heskell',
 'Current Lang & Tech: Java':'Java',
 'Current Lang & Tech: JavaScript':'JavaScript',
 'Current Lang & Tech: Matlab':'Matlab',
 'Current Lang & Tech: Node.js':'Node.js',
 'Current Lang & Tech: Objective-C':'Objective-c',
 'Current Lang & Tech: Perl':'Perl',
 'Current Lang & Tech: PHP':'PHP',
 'Current Lang & Tech: Python':'Python',
 'Current Lang & Tech: R':'R',
 'Current Lang & Tech: Ruby':'Ruby',
 'Current Lang & Tech: Rust':'Rust',
 'Current Lang & Tech: Scala':'Scala',
 'Current Lang & Tech: SQL':'SQL',
 'Current Lang & Tech: Swift':'Swift',
 'Current Lang & Tech: Visual Basic':'Visual BAsic',
 'Current Lang & Tech: Write-In':'Other'})

In [7]:
data2015

,Country,Age,Compensation,AngularJS,C,C++,C++11,C#,Cassandra,CoffeeScript,...,PHP,Python,R,Ruby,Rust,Scala,SQL,Swift,Visual BAsic,Other
0,Croatia,25-29,"$20,000 - $40,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Scala,NaN,NaN,NaN,NaN
1,France,20-24,"$20,000 - $40,000",NaN,NaN,NaN,NaN,C#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,India,20-24,"$80,000 - $100,000",NaN,NaN,NaN,NaN,C#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Latvia,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PHP,Python,NaN,NaN,NaN,NaN,SQL,NaN,NaN,lua
4,Norway,30-34,"$60,000 - $80,000",NaN,NaN,NaN,NaN,C#,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26081,Vietnam,20-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26082,Vietnam,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26083,Vietnam,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26084,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26085,Zimbabwe,Prefer not to disclose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
list(data2015.columns)

['Country',
 'Age',
 'Compensation',
 'AngularJS',
 'C',
 'C++',
 'C++11',
 'C#',
 'Cassandra',
 'CoffeeScript',
 'Clojure',
 'Dart',
 'F#',
 'Go',
 'Heskell',
 'Java',
 'JavaScript',
 'Matlab',
 'Node.js',
 'Objective-c',
 'Perl',
 'PHP',
 'Python',
 'R',
 'Ruby',
 'Rust',
 'Scala',
 'SQL',
 'Swift',
 'Visual BAsic',
 'Other']

In [9]:
languages = [ 'AngularJS',
                 'C',
                 'C++',
                 'C++11',
                 'C#',
                 'Cassandra',
                 'CoffeeScript',
                 'Clojure',
                 'Dart',
                 'F#',
                 'Go',
                 'Heskell',
                 'Java',
                 'JavaScript',
                 'Matlab',
                 'Node.js',
                 'Objective-c',
                 'Perl',
                 'PHP',
                 'Python',
                 'R',
                 'Ruby',
                 'Rust',
                 'Scala',
                 'SQL',
                 'Swift',
                 'Visual BAsic']
for lang in languages:
    data2015[lang] = (data2015[lang] == lang)

In [10]:
data2015

,Country,Age,Compensation,AngularJS,C,C++,C++11,C#,Cassandra,CoffeeScript,...,PHP,Python,R,Ruby,Rust,Scala,SQL,Swift,Visual BAsic,Other
0,Croatia,25-29,"$20,000 - $40,000",False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
1,France,20-24,"$20,000 - $40,000",False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
2,India,20-24,"$80,000 - $100,000",False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
3,Latvia,25-29,NaN,False,False,False,False,False,False,False,...,True,True,False,False,False,False,True,False,False,lua
4,Norway,30-34,"$60,000 - $80,000",False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26081,Vietnam,20-24,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
26082,Vietnam,25-29,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
26083,Vietnam,25-29,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
26084,Zimbabwe,NaN,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
26085,Zimbabwe,Prefer not to disclose,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN

In [11]:
languages2015 = data2015[['AngularJS',
                             'C',
                             'C++',
                             'C++11',
                             'C#',
                             'Cassandra',
                             'CoffeeScript',
                             'Clojure',
                             'Dart',
                             'F#',
                             'Go',
                             'Heskell',
                             'Java',
                             'JavaScript',
                             'Matlab',
                             'Node.js',
                             'Objective-c',
                             'Perl',
                             'PHP',
                             'Python',
                             'R',
                             'Ruby',
                             'Rust',
                             'Scala',
                             'SQL',
                             'Swift',
                             'Visual BAsic']]
languages2015.reset_index()
languages2015 = languages2015[['AngularJS',
                             'C',
                             'C++',
                             'C++11',
                             'C#',
                             'Cassandra',
                             'CoffeeScript',
                             'Clojure',
                             'Dart',
                             'F#',
                             'Go',
                             'Heskell',
                             'Java',
                             'JavaScript',
                             'Matlab',
                             'Node.js',
                             'Objective-c',
                             'Perl',
                             'PHP',
                             'Python',
                             'R',
                             'Ruby',
                             'Rust',
                             'Scala',
                             'SQL',
                             'Swift',
                             'Visual BAsic']]
languages2015

,AngularJS,C,C++,C++11,C#,Cassandra,CoffeeScript,Clojure,Dart,F#,...,Perl,PHP,Python,R,Ruby,Rust,Scala,SQL,Swift,Visual BAsic
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,False,False,True,False,False
4,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26081,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26082,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26083,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26084,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26085,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
languages_worked_percentages = languages2015.mean().sort_values(ascending=False) * 100
languages_worked_percentages

0
JavaScript      45.856015
SQL             36.184160
Java            31.507322
C#              26.638810
PHP             25.028751
Python          20.079736
C++             17.361803
C               13.846508
Node.js         11.189910
AngularJS       11.166909
C++11            7.095760
Ruby             6.766081
Matlab           3.296788
CoffeeScript     3.001610
Swift            2.909607
R                2.894273
Perl             2.829104
Scala            2.062409
Go               1.771065
Cassandra        0.774362
Clojure          0.674691
F#               0.667024
Dart             0.417849
Rust             0.394848
Heskell          0.000000
Objective-c      0.000000
Visual BAsic     0.000000
dtype: float64

In [13]:
pct_df = pd.DataFrame(languages_worked_percentages)
pct_df.head()

                    0
0
JavaScript  45.856015
SQL         36.184160
Java        31.507322
C#          26.638810
PHP         25.028751

In [14]:
pct_df.columns
# this is weird

RangeIndex(start=0, stop=1, step=1)

In [15]:
list(pct_df.columns)

[0]

In [16]:
pct_df.columns = ["percent"]
pct_df

                percent
0
JavaScript    45.856015
SQL           36.184160
Java          31.507322
C#            26.638810
PHP           25.028751
Python        20.079736
C++           17.361803
C             13.846508
Node.js       11.189910
AngularJS     11.166909
C++11          7.095760
Ruby           6.766081
Matlab         3.296788
CoffeeScript   3.001610
Swift          2.909607
R              2.894273
Perl           2.829104
Scala          2.062409
Go             1.771065
Cassandra      0.774362
Clojure        0.674691
F#             0.667024
Dart           0.417849
Rust           0.394848
Heskell        0.000000
Objective-c    0.000000
Visual BAsic   0.000000

In [17]:
pct_df.columns

Index(['percent'], dtype='object')

In [18]:
list(pct_df.columns)

['percent']

In [19]:
pct_df.reset_index(inplace=True)

In [21]:
pct_df.columns = ["language", "percent"]

In [22]:
pct_df

        language    percent
0     JavaScript  45.856015
1            SQL  36.184160
2           Java  31.507322
3             C#  26.638810
4            PHP  25.028751
5         Python  20.079736
6            C++  17.361803
7              C  13.846508
8        Node.js  11.189910
9      AngularJS  11.166909
10         C++11   7.095760
11          Ruby   6.766081
12        Matlab   3.296788
13  CoffeeScript   3.001610
14         Swift   2.909607
15             R   2.894273
16          Perl   2.829104
17         Scala   2.062409
18            Go   1.771065
19     Cassandra   0.774362
20       Clojure   0.674691
21            F#   0.667024
22          Dart   0.417849
23          Rust   0.394848
24       Heskell   0.000000
25   Objective-c   0.000000
26  Visual BAsic   0.000000

In [24]:
pct_df.to_csv("language_percent_2015.csv", index=True, header=True)

In [25]:
data2015

,Country,Age,Compensation,AngularJS,C,C++,C++11,C#,Cassandra,CoffeeScript,...,PHP,Python,R,Ruby,Rust,Scala,SQL,Swift,Visual BAsic,Other
0,Croatia,25-29,"$20,000 - $40,000",False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,NaN
1,France,20-24,"$20,000 - $40,000",False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
2,India,20-24,"$80,000 - $100,000",False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
3,Latvia,25-29,NaN,False,False,False,False,False,False,False,...,True,True,False,False,False,False,True,False,False,lua
4,Norway,30-34,"$60,000 - $80,000",False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26081,Vietnam,20-24,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
26082,Vietnam,25-29,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
26083,Vietnam,25-29,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
26084,Zimbabwe,NaN,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN
26085,Zimbabwe,Prefer not to disclose,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,NaN

In [27]:
data2015['Year'] = "2015"
data2015

,Country,Age,Compensation,AngularJS,C,C++,C++11,C#,Cassandra,CoffeeScript,...,Python,R,Ruby,Rust,Scala,SQL,Swift,Visual BAsic,Other,Year
0,Croatia,25-29,"$20,000 - $40,000",False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,NaN,2015
1,France,20-24,"$20,000 - $40,000",False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,NaN,2015
2,India,20-24,"$80,000 - $100,000",False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,NaN,2015
3,Latvia,25-29,NaN,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,lua,2015
4,Norway,30-34,"$60,000 - $80,000",False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,NaN,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26081,Vietnam,20-24,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,NaN,2015
26082,Vietnam,25-29,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,NaN,2015
26083,Vietnam,25-29,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,NaN,2015
26084,Zimbabwe,NaN,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,NaN,2015
26085,Zimbabwe,Prefer not to disclose,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,NaN,2015

In [28]:
data2015.to_csv("cleandata2015.csv", index=True, header=True)