In [9]:
import pandas as pd
import numpy as np

In [14]:
survey_df = pd.read_csv("Data/survey_results_public_2020.csv")

survey_df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [15]:
def split_multicolumn(col_series):
    result_df = col_series.to_frame()
    options = []
    # Iterate over the column
    for idx, value  in col_series[col_series.notnull()].iteritems():
        # Break each value into list of options
        for option in value.split(';'):
            # Add the option as a column to result
            if not option in result_df.columns:
                options.append(option)
                result_df[option] = False
            # Mark the value in the option column as True
            result_df.at[idx, option] = True
    return result_df[options]

In [16]:
languages_worked_df = split_multicolumn(survey_df.LanguageWorkedWith)

languages_worked_df

,C#,HTML/CSS,JavaScript,Swift,Objective-C,Python,Ruby,SQL,Java,PHP,...,VBA,Perl,Scala,C++,Go,Haskell,Rust,Dart,Julia,Assembly
0,True,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64457,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
64458,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64459,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64460,True,True,True,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
temp_df = survey_df[['Respondent','Country', 'ConvertedComp']]
clean_df = temp_df.join(languages_worked_df, how='outer')
clean_df.rename(columns={"ConvertedSalary" : "ConvertedComp"}, inplace=True)
clean_df

,Respondent,Country,ConvertedComp,C#,HTML/CSS,JavaScript,Swift,Objective-C,Python,Ruby,...,VBA,Perl,Scala,C++,Go,Haskell,Rust,Dart,Julia,Assembly
0,1,Germany,NaN,True,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2,United Kingdom,NaN,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,Russian Federation,NaN,False,False,False,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,4,Albania,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5,United States,NaN,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,64858,United States,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64457,64867,Morocco,NaN,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
64458,64898,Viet Nam,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64459,64925,Poland,NaN,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64460,65112,Spain,NaN,True,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
clean_df.loc[clean_df['ConvertedComp'] == 2000000]

,Respondent,Country,ConvertedComp,C#,HTML/CSS,JavaScript,Swift,Objective-C,Python,Ruby,...,VBA,Perl,Scala,C++,Go,Haskell,Rust,Dart,Julia,Assembly
121,123,United States,2000000.0,False,False,False,False,False,True,False,...,False,False,False,True,True,False,False,False,False,False
123,125,United States,2000000.0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
191,193,United States,2000000.0,False,False,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
663,665,United States,2000000.0,False,True,True,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
697,699,United States,2000000.0,True,True,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61417,62660,United States,2000000.0,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
63459,64874,United States,2000000.0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
63890,65341,United States,2000000.0,False,True,True,False,False,True,True,...,False,False,False,True,False,False,False,False,False,False
64035,65502,United States,2000000.0,True,True,True,False,False,True,False,...,False,True,False,False,False,False,False,False,False,False
64057,65527,United States,2000000.0,False,True,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [131]:
languages_worked_percentages = languages_worked_df.mean().sort_values(ascending=False) * 100
language_percent = languages_worked_percentages.reset_index()
language_percent.rename({"index": "language", 0: "percentage"}, axis=1, inplace=True)

language_percent

                language  percentage
0             JavaScript   55.319407
1                   HTML   54.249153
2                    CSS   51.569470
3                    SQL   45.187396
4                   Java   35.932426
5             Bash/Shell   31.533053
6                 Python   30.710637
7                     C#   27.266198
8                    PHP   24.349805
9                    C++   20.102170
10                     C   18.250974
11            TypeScript   13.783825
12                  Ruby    8.002630
13                 Swift    6.383086
14              Assembly    5.826716
15                    Go    5.596075
16           Objective-C    5.573820
17                VB.NET    5.314855
18                     R    4.868747
19                Matlab    4.616863
20                   VBA    3.854130
21                Kotlin    3.548632
22                 Scala    3.459613
23                Groovy    3.412068
24                  Perl    3.317991
25        Visual Basic 6    3.122756
26                   Lua    2.764655
27          CoffeeScript    2.633150
28  Delphi/Object Pascal    2.048455
29               Haskell    1.983714
30                  Rust    1.878509
31                    F#    1.127915
32               Clojure    1.043953
33                Erlang    0.896262
34                 Cobol    0.596834
35                 Ocaml    0.475444
36                 Julia    0.434981
37                  Hack    0.256942

In [132]:
language_percent.to_csv("clean_data/language_percent_2018.csv")

In [133]:
top_10_language = language_percent.head(10)
top_10_language

     language  percentage
0  JavaScript   55.319407
1        HTML   54.249153
2         CSS   51.569470
3         SQL   45.187396
4        Java   35.932426
5  Bash/Shell   31.533053
6      Python   30.710637
7          C#   27.266198
8         PHP   24.349805
9         C++   20.102170

In [134]:
languages = top_10_language['language']

In [135]:
average_salary = []

for language in languages:
    true_df = clean_df.loc[clean_df[f"{language}"] == True]
    avg_salary = true_df['ConvertedComp'].mean()
    average_salary.append(avg_salary)

In [136]:
avg_salary_language = pd.DataFrame({"language" : languages,
                                   "avg_salary" : average_salary})
avg_salary_language

     language     avg_salary
0  JavaScript   97974.171459
1        HTML   95030.698081
2         CSS   95604.488628
3         SQL   97567.427165
4        Java   90282.985846
5  Bash/Shell  107340.899941
6      Python  101955.642783
7          C#   99185.494393
8         PHP   81961.011567
9         C++   90378.271531

In [137]:
avg_salary_language.to_csv("clean_data/2018_avg_salary_by_language.csv")