In [1]:
import pandas as pd
import numpy as np

In [48]:
survey_df = pd.read_csv("Data/survey_results_public_2017.csv")

survey_df.columns

Index(['Respondent', 'Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation', 'MajorUndergrad', 'HomeRemote',
       'CompanySize',
       ...
       'StackOverflowMakeMoney', 'Gender', 'HighestEducationParents', 'Race',
       'SurveyLong', 'QuestionsInteresting', 'QuestionsConfusing',
       'InterestedAnswers', 'Salary', 'ExpectedSalary'],
      dtype='object', length=154)

In [49]:
def split_multicolumn(col_series):
    result_df = col_series.to_frame()
    options = []
    # Iterate over the column
    for idx, value  in col_series[col_series.notnull()].iteritems():
        # Break each value into list of options
        for option in value.split(';'):
            # Add the option as a column to result
            if not option in result_df.columns:
                options.append(option)
                result_df[option] = False
            # Mark the value in the option column as True
            result_df.at[idx, option] = True
    return result_df[options]

In [39]:
languages_worked_df = split_multicolumn(survey_df.HaveWorkedLanguage)

languages_worked_df

,JavaScript,Python,HTML,CSS,Bash/Shell,C#,SQL,TypeScript,C,C++,...,Rust,Julia,VBA,Perl,Cobol,Visual Basic 6,Delphi/Object Pascal,Hack,Clojure,Ocaml
0,True,True,True,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,True,True,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,True,False,True,False,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98850,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98851,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98852,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98853,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98854,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [40]:
temp_df = survey_df[['Respondent','Country', 'ConvertedSalary']]
clean_df = temp_df.join(languages_worked_df, how='outer')
clean_df.rename(columns={"ConvertedSalary" : "ConvertedComp"}, inplace=True)
clean_df

,Respondent,Country,ConvertedComp,JavaScript,Python,HTML,CSS,Bash/Shell,C#,SQL,...,Rust,Julia,VBA,Perl,Cobol,Visual Basic 6,Delphi/Object Pascal,Hack,Clojure,Ocaml
0,1,Kenya,NaN,True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,3,United Kingdom,70841.0,True,True,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4,United States,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,5,United States,NaN,True,False,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
4,7,South Africa,21426.0,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98850,101513,United States,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98851,101531,Spain,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98852,101541,India,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98853,101544,Russian Federation,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98854,101548,Cambodia,NaN,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [41]:
languages_worked_percentages = languages_worked_df.mean().sort_values(ascending=False) * 100
language_percent = languages_worked_percentages.reset_index()
language_percent.rename({"index": "language", 0: "percentage"}, axis=1, inplace=True)

language_percent['survey_year'] = 2018
language_percent

                language  percentage  survey_year
0             JavaScript   55.319407         2018
1                   HTML   54.249153         2018
2                    CSS   51.569470         2018
3                    SQL   45.187396         2018
4                   Java   35.932426         2018
5             Bash/Shell   31.533053         2018
6                 Python   30.710637         2018
7                     C#   27.266198         2018
8                    PHP   24.349805         2018
9                    C++   20.102170         2018
10                     C   18.250974         2018
11            TypeScript   13.783825         2018
12                  Ruby    8.002630         2018
13                 Swift    6.383086         2018
14              Assembly    5.826716         2018
15                    Go    5.596075         2018
16           Objective-C    5.573820         2018
17                VB.NET    5.314855         2018
18                     R    4.868747         2018
19                Matlab    4.616863         2018
20                   VBA    3.854130         2018
21                Kotlin    3.548632         2018
22                 Scala    3.459613         2018
23                Groovy    3.412068         2018
24                  Perl    3.317991         2018
25        Visual Basic 6    3.122756         2018
26                   Lua    2.764655         2018
27          CoffeeScript    2.633150         2018
28  Delphi/Object Pascal    2.048455         2018
29               Haskell    1.983714         2018
30                  Rust    1.878509         2018
31                    F#    1.127915         2018
32               Clojure    1.043953         2018
33                Erlang    0.896262         2018
34                 Cobol    0.596834         2018
35                 Ocaml    0.475444         2018
36                 Julia    0.434981         2018
37                  Hack    0.256942         2018

In [42]:
language_percent.to_csv("clean_data/language_percent_2018.csv")

In [43]:
top_10_language = language_percent.head(10)
top_10_language

     language  percentage  survey_year
0  JavaScript   55.319407         2018
1        HTML   54.249153         2018
2         CSS   51.569470         2018
3         SQL   45.187396         2018
4        Java   35.932426         2018
5  Bash/Shell   31.533053         2018
6      Python   30.710637         2018
7          C#   27.266198         2018
8         PHP   24.349805         2018
9         C++   20.102170         2018

In [44]:
languages = top_10_language['language']

In [45]:
average_salary = []

for language in languages:
    true_df = clean_df.loc[clean_df[f"{language}"] == True]
    avg_salary = true_df['ConvertedComp'].mean()
    average_salary.append(avg_salary)

In [46]:
avg_salary_language = pd.DataFrame({"language" : languages,
                                   "avg_salary" : average_salary})
avg_salary_language['survey_year'] = 2018
avg_salary_language

     language     avg_salary  survey_year
0  JavaScript   97974.171459         2018
1        HTML   95030.698081         2018
2         CSS   95604.488628         2018
3         SQL   97567.427165         2018
4        Java   90282.985846         2018
5  Bash/Shell  107340.899941         2018
6      Python  101955.642783         2018
7          C#   99185.494393         2018
8         PHP   81961.011567         2018
9         C++   90378.271531         2018

In [47]:
avg_salary_language.to_csv("clean_data/2018_avg_salary_by_language.csv")